@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

iframe {
height: auto;
}

html{
    box-sizing: border-box;
    direction: rtl;
} 
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: #ececec;
    font: size 18px; 
    color: #2f3640;
    overflow-x: hidden;
    font-family: 'comfortaa', sans-serif;
} 


.logo-image{
    width: 150px;
    height: 100px;
    

}
.content{
    width: 80%;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}
@media screen and (max-width: 930px) {
    .content{
        width: 95%;
    }
}

@media screen and (max-width: 560px) {
    .content{
        width: 100%;
        padding: 0 20px;
    }
}
header{
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255,255,255, 0.6)), url('images/header-background.jpg');
    background-size: cover;
}
.nav-bar{
    display: flex;
    justify-content: space-between;   
}
.logo-image{
    width: 120px;
    height: 120px;
    opacity: 0.8;
}
.nav-bar li{
    display: inline-block;
    margin: 0 20 px;
    padding: 15px;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.nav-bar li:hover{
   color: seagreen;
}
.hero{
    font-size: 65px;
}
button{
    text-align: justify;
    display: inline-flex;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 6px ;
    font-size: 18px;
    background-color:#c17945  ;
    font-family:'comfortaa', sans-serif; ;
    outline: none;
    color: #ececec;
    cursor: pointer;
}


p{
    display: inline-block;
    justify-content: space-between;

}
.branch-container{
    width: 80%;
    max-width: 90%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.branch-card{
    width: 220px;
    height: 300px;
    background-color: antiquewhite;
    box-shadow: 0 14px 28px rgba(0, 0,0, 0.25);
    border-radius: 20px;
}
h2{
    width: 80%;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 30px;
}
.card-content{
    text-align:center ;
    padding: 15px;
    border-top: 2px solid #e4e4e4;
}


.card-content h3{
    margin: 0;
    line-height: 1;

}

@media screen and (max-width: 780px) {
    .branch-container{
        flex-direction: column;
    }

    .branch-card{
        display: flex;
        height: 150px;
        width: 100%;
        margin-bottom: 50px;
         
    }
    .branch-card.card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: none;
        width: 100%;
    }
}
.feature-box{
    position: relative;
    width: calc(100%/3);
    height: calc(100vw/3);
    overflow: hidden;
    float: right;
    
}

.feature-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
.feature-box:hover img{
    opacity: 0.2;
    transform: scale(1.3);
}
.feature-description{
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-70%);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.feature-box:hover .feature-description{
    opacity: 1;
}

@media screen and (max-width: 460px) {
    .feature-description p{
    font-size: 15px;
    }
}
.app-container{
    display: flex;
    justify-content: space-evenly;
}

.app-view,
.app-store-logo{
    width: 200px;
    object-fit: contain;
}

@media screen and (max-width: 460px) {
    .app-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .app-store-logo{
        margin-top: 20px;
        
    }
    .app-view{
        margin-bottom: 20px;
    }
}
footer{
    padding: 20px;
    text-align: center;background: #333;
    color:white
}
footer ul{
    padding: 0;
    list-style: none;
    text-align: center;
}
footer li a,
footer li a :active,
footer li a:visited{
    color:white;
}
footer p{
    color: wheat;
}

@media screen and (max-width: 560px) {

    header{
        text-align: center;
        height: 500px;
    }

    .nav-bar{
        flex-direction: column;
        align-items: center;
        padding-top:30px;
     }

    .nav-bar .main-logo{
        width: 70px;
        height: 70px;
    }

    .nav-bar ul{
        padding: 0;

    }

    .nav-bar li{
        display: block;
        margin-bottom:10px;
    }

    .hero {
        font-size:42px;
        margin: 0 auto 20px;
    }
}
